.partners{
    background-image: url("../../public/partners-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 60px;
    margin: 0 64px;
}

.mainPartners{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 24px;
    max-width: 80vw;
    margin: 64px auto 32px;
}

.partner:nth-child(1), .partner:nth-child(2){
    padding: 16px 16px 0 0;
    border-top: #FFBD13 solid 2px;
    border-right: #FFBD13 solid 2px;
}

.partner:nth-child(3), .partner:nth-child(4){
    padding: 0 0 16px 16px;
    border-bottom: #FFBD13 solid 2px;
    border-left: #FFBD13 solid 2px;
}

.partner:nth-child(1) { grid-area: 1 / 1 / 2 / 3; }
.partner:nth-child(2) { grid-area: 1 / 4 / 2 / 6; }
.partner:nth-child(3) { grid-area: 2 / 2 / 3 / 4; }
.partner:nth-child(4) { grid-area: 2 / 5 / 3 / 7; }

.partnerImg{
    width: 100%;
}

.partner_inner{
    height: 100%;
    padding: 16px;
    border: #FFBD13 solid 2px;
    background-color: #29193A;
    box-shadow: inset 0 0 8px #FFBD13;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partnerMainLogo{
    width: 100%;
}

.partnersSecondary{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 16px;

    max-width: 80vw;
    margin: 32px auto;
}


.secondaryPartnerImg{
    max-width: 296px;
    height: 200px;
}

.partnerSecondary{
    align-self: center;
    justify-self: center;
}

.partnerSecondary:nth-child(1) { grid-area: 1 / 1 / 3 / 2; }
.partnerSecondary:nth-child(2) { grid-area: 1 / 2 / 3 / 3; }
.partnerSecondary:nth-child(3) { grid-area: 1 / 3 / 3 / 4; }
.partnerSecondary:nth-child(4) { grid-area: 1 / 4 / 3 / 5; }
.partnerSecondary:nth-child(5) { grid-area: 3 / 1 / 5 / 2; }
.partnerSecondary:nth-child(6) { grid-area: 3 / 2 / 5 / 3; }
.partnerSecondary:nth-child(7) { grid-area: 5 / 1 / 7 / 2; }
.partnerSecondary:nth-child(8) { grid-area: 5 / 2 / 7 / 3; }
.partnerSecondary:nth-child(9) { grid-area: 3 / 3 / 5 / 5; }
.partnerSecondary:nth-child(10) { grid-area: 4 / 3 / 6 / 5; }
.partnerSecondary:nth-child(11) { grid-area: 5 / 3 / 7 / 5; }

.partnerSecondary:nth-child(9) { margin: 0 0 32px;  }
.partnerSecondary:nth-child(10) { margin: 32px 0;}

.partnerSecondary:nth-child(9), .partnerSecondary:nth-child(10), .partnerSecondary:nth-child(11) > .secondaryPartnerImg {
    max-width: 376px;
    display: flex;
    justify-content: center
}

@media(max-width: 1200px){
    .partnerSecondary:nth-child(11) > .secondaryPartnerImg{
        max-width: 312px;
    }
}

@media(max-width: 1200px){
    .secondaryPartnerImg{
        max-width: 216px;
        height: 152px;
    }
}

@media (max-width: 992px) {
    .secondaryPartnerImg{
        max-width: 184px;
        height: 120px;
    }
    .partnersSecondary{
        max-width: none;
    }
}

@media (max-width: 767px) {
    .partners{
        margin: 0 32px;
    }
    .mainPartners{
        max-width: none;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 24px;
        margin: 32px auto;
    }

    .partner:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
    .partner:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
    .partner:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
    .partner:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }

    .partnersSecondary{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    .partnerSecondary:nth-child(1) { grid-area: 4 / 2 / 5 / 3; }
    .partnerSecondary:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
    .partnerSecondary:nth-child(3) { grid-area: 3 / 1 / 4 / 2; }
    .partnerSecondary:nth-child(4) { grid-area: 1 / 1 / 2 / 2; }
    .partnerSecondary:nth-child(5) { grid-area: 3 / 2 / 4 / 3; }
    .partnerSecondary:nth-child(6) { grid-area: 4 / 1 / 5 / 2; }
    .partnerSecondary:nth-child(7) { grid-area: 1 / 2 / 2 / 3; }
    .partnerSecondary:nth-child(8) { grid-area: 2 / 2 / 3 / 3; }
    .partnerSecondary:nth-child(9) { grid-area: 5 / 1 / 6 / 2; }
    .partnerSecondary:nth-child(10) { grid-area: 5 / 2 / 6 / 3; }
    .partnerSecondary:nth-child(11) { grid-area: 6 / 1 / 7 / 3; }

    .partnerSecondary:nth-child(9) { margin: 0; }
    .partnerSecondary:nth-child(10) { margin: 0; }

    .partnerSecondary:nth-child(9), .partnerSecondary:nth-child(10), .partnerSecondary:nth-child(11) > .secondaryPartnerImg {
        max-width: 304px;
        display: flex;
        justify-content: center
    }
}

@media (max-width: 480px) {
    .partners{
        margin: 64px 8px;
    }

    .partnersSecondary{
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }

    .secondaryPartnerImg{
        max-width: 152px;
        height: 104px;
    }

    .partner_inner{
        padding: 9px;
    }

}