.format{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../../public/categories-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.desktop{
    max-width: 80vw;
    max-height: 50vh;
    margin-bottom: 0;
}

.blocks{
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

@media (max-width: 992px) {
    .blocks{
        gap: 0;
    }
}

.separator{
    width: 50%;
    max-width: 640px;
}